/*! Based on CSS from:  BitShadowMachine v2.0.9 - 2013-12-31 04:12:37
Vince Allen |Brooklyn, NY | vince@vinceallen.com | @vinceallenvince | License: MIT */

html,body {
    background-color: #656C3E;
    height: 100%;
}

body{
    display: table;
    margin: 0 auto;
}

.worldContainer {
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.world {
    position: relative;
    overflow: hidden;
    left: 0px;
}
